<div class="row">
  <aside class="col-md-4">
  	  <h2>My Account</h2>
      <h3>Name: <font color=#990000><%= @user.name %></font></h3>
      <h3>Email: <font color=#990000><%= @user.email %></font></h3>
  </aside>
</div>
