<div class="main">
Zen Cards<br>

<button><a href="cards/random">Get a random Tarot card</a></button>
</div>
<div class="index_text"><a href="http://science.howstuffworks.com/science-vs-myth/extrasensory-perceptions/tarot-card.htm" onclick="javascript:void window.open('http://science.howstuffworks.com/science-vs-myth/extrasensory-perceptions/tarot-card.htm','1391712648620','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;"><p><b><u>A Tarot Card</u></b></a> reading can help guide you through your troubled emotions and clouded thoughts, by offering a reflection of your past, present and possible future and showing you a fresh perspective on your life.
For many, the most distressing times are those when we are confused about how we feel or unsure of what decisions or choices we should make, and in such times it can really help to receive some guidance.</p>
<p>When you have <b>clarity of mind</b> you feel more <b>relaxed</b>, and decisions and choices can be made more easily. Consulting the cards may help you to get in touch with your <b>intuition</b>, your best guide when it comes to making those difficult choices and decisions.</p></div>
  <center><div id="player"></div></center>

