<div class="main">
Let the Cards Speak<br>

<button><a href="cards/random">Get a random card</a></button>
</div>
<div class="index_text">A Tarot Card Reading can help guide you through your troubled emotions and clouded thoughts, by offering a reflection of your past, present and possible future and showing you a fresh perspective on your life.
For many, the most distressing times are those when we are confused about how we feel or unsure of what decisions or choices we should make, and in such times it can really help to receive some guidance - whether that be consulting our love tarot or a good all-round Celtic Cross.<br>
When you have clarity of mind you feel more relaxed, and decisions and choices can be made more easily. Consulting the cards may help you to get in touch with your intuition, your best guide when it comes to making those difficult choices and decisions.</div>
