<div class="random">
Here is your card!<br>

<a href="/signin">Sign up or sign in to see the card meaning

<div class="card"><%= @random_card.name %></div>

<!-- image helper, helps images show in Heroku -->
<%= image_tag @random_card.image, alt: @random_card.name, height: 400, width: 240 %></a>
</div>

