<div class="random">
Here is your card!<br>

<a href="/signin">Sign in to see what it means</a>

<div class="card"><%= @random_card.name %></div>


<img src="/assets/<%= @random_card.image %>" alt="<%= @random_card.name %>" height="400" width="240">
</div>

